<script type="text/javascript">
	$(document).ready(function() {
	    $('.slideshow').cycle({
			fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
		});
	});
	
	$(document).ready(function() {
		var videos = document.getElementsByClass('video');
		for (int i=0; i < videos.length; i++) {
			videos[i].volume = 0.0;
		}
	});
	
	
</script>

<h1>Snaps#view</h1>
<p>Find me in app/views/snaps/view.html.erb</p>

<% if @access_token %>
	<p>Access Token: <%= @access_token.inspect %></p>
<% end %>

<% if @snaps.empty? %>
	<p>No pictures yet.. But check out these default images in action!</p>
	<div class="slideshow">
		<img src="http://malsup.github.com/images/beach1.jpg" width="200" height="200" />
		<img src="http://malsup.github.com/images/beach2.jpg" width="200" height="200" />
		<img src="http://malsup.github.com/images/beach3.jpg" width="200" height="200" />
		<img src="http://malsup.github.com/images/beach4.jpg" width="200" height="200" />
		<img src="http://malsup.github.com/images/beach5.jpg" width="200" height="200" />
	</div>
<% else %>
	<div class="slideshow">
		<% @snaps.each do |s| %>
			<% if s.media_type == "image" %>
				<img src=<%= s.media_url %> width="400" height="400" />
			<% else %>
				<video class="video" width="400" height="400" autoplay loop volume="0">
				    <source id=<%= s.media_id %> src=<%= s.media_url %> type="video/mp4">
				    Your browser does not support the video tag or the file format of this video.
				</video>
			<% end %>
		<% end %>
	</div>
<% end %>


<br />

<% if @subscriptions %>
	<p>Subscriptions: <%= @subscriptions.inspect %></p>
<% end %>

<%= link_to "Subscribe to #testphotographytag2014", controller: "snaps", action: "subscribe" %>