<script type="text/javascript">
	$(document).ready(function() {
	    $('.slideshow').cycle({
			fx: 'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
			timeout:  3000, 
	        before:   onBefore 
	    }); 
	 
	    function onBefore(curr, next, opts) { 
	        // make sure we don't call addSlide before it is defined 
	        if (!opts.addSlide) 
	            return; 
	            
            var videos = document.getElementsByClassName('video');
			for (var i=0; i < videos.length; i++) {
				videos[i].volume = 0.0;
			}
	        
	        var elementsToAdd = $('.toAdd');
	        $(".slideshow-toAdd").empty();
	        for (var i = 0; i < elementsToAdd.length; i++) {
	        	elementsToAdd.removeClass('toAdd');
	        	elementsToAdd.addClass('added');
	        	var element = document.getHTML(elementsToAdd[i], true);
	        	opts.addSlide(element);
	        }
	    }; 
	    
	    document.getHTML= function(who, deep){
		    if(!who || !who.tagName) return '';
		    var txt, ax, el= document.createElement("div");
		    el.appendChild(who.cloneNode(false));
		    txt= el.innerHTML;
		    if(deep){
		        ax= txt.indexOf('>')+1;
		        txt= txt.substring(0, ax)+who.innerHTML+ txt.substring(ax);
		    }
		    el= null;
		    return txt;
		}
		
	});	
</script>
<script>
	window.setInterval(function(){
		$.get("/twitter/search_tag",
			function(){
				$.get("/snaps/get_new",
					function(){
						
					});
		});
	}, 30000)
</script>

<div class="container">
	<table class="main-table" cellspacing="0" style="background-color: #000; border-radius: 5px;">
		<tr style="width:100%; min-width: 1000px;">
			<td class="first-column" style="width: 600px; vertical-align: top;" rowspan="2">
				<div class="slideshow">
					<% if not @snaps.empty? %>
						<% @snaps.each do |s| %>
							<% if s.media_type == "image" %>
								<div class="toAdd" style="width: 100%; height: 100%;" >
									<div class='wrapper'>  
										<div style="margin: 15px; height: 570px; width: 570px; background-color: white;">
											<%= image_tag 'instagram-5.png', :style=> "height: 60px; background-color: white; float: right;" %>
											<img src=<%= s.media_url %> style="height: 570px; width: 570px;" />
											<div class='description' style="margin: 15px; width: 570px; border-radius: 0;">  
											    <p class='description_content'><%= s.caption %></p>  
											</div>
										</div>
									</div>
								</div>
							<% elsif s.media_type == "video" %>
								<div class="toAdd" style="width: 100%; height: 100%;" >
									<div class='wrapper'>
										<div style="margin: 15px; height: 570px; width: 570px; background-color: white;">
											<video class="video" autoplay="true" loop="true" style="height: 570px; width: 570px;">
											    <source id=<%= s.media_id %> src=<%= s.media_url %> type="video/mp4">
											    Your browser does not support the video tag or the file format of this video.
											</video>
											<div class='description' style="margin: 15px; width: 570px; border-radius: 0;">  
											    <p class='description_content'><%= s.caption %></p>  
											</div>
										</div>
									</div>
								</div>
							<% elsif s.media_type == "tweet" %>
								<div class="toAdd" style="width: 100%; height: 100%;" >
									<div class='wrapper'>
										<div style="margin: 15px; padding: 15px; height: 540px; width: 540px; background-color: white;">
											<%= image_tag 'twitter-5.png', :style=> "height: 60px; background-color: white; float: right;" %>
											<p class="customfont" style="font-size: 38px; margin-bottom: 0px;">@<%= s.media_author %></p>
											<p style="font-family: Helvetica; font-size: 26px; font-weight: 200; line-height: 1.5; margin-top: 10px;"><%= s.caption %></p>
										</div>
									</div>
								</div>
							<% end %>
						<% end %>
					<% end %>
				</div>
			</td>
			<td style="width: 300px; height: 200px; vertical-align: top;">
				<div style="margin: 15px 15px 15px 0; padding: 10px; background-color: white; color: black; border-radius: 3px; height: 150px;">
					#Hashtag #Here
				</div>
			</td>
		</tr>
		<tr>
			<td style="margin-top: 15px; width: 300px; height: 300px; vertical-align: top;">
				<div style="margin: 0 15px 15px 0; padding: 10px; background-color: white; color: black; border-radius: 3px; height: 365px;">
					Instructions Here
				</div>
			</td>
		</tr>
	</table>
</div>

<div class="slideshow-toAdd" style="display: none;">
	
</div>
