<script type="text/javascript">
	$(document).ready(function() {
	    $('.slideshow').cycle({
			fx: 'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
			timeout:  3000, 
	        before:   onBefore 
	    }); 
	 
	    function onBefore(curr, next, opts) { 
	        // make sure we don't call addSlide before it is defined 
	        if (!opts.addSlide) 
	            return; 
	        
	        var elementsToAdd = $('.toAdd');
	        //$(".slideshow-toAdd").empty();
	        for (var i = 0; i < elementsToAdd.length; i++) {
	        	opts.addSlide(elementsToAdd[i]);
	        	elementsToAdd.removeClass('toAdd');
	        	elementsToAdd.addClass('added');
	        }
	        
//	        var videos = document.getElementsByClassName('video');
//			for (var i=0; i < videos.length; i++) {
//				videos[i].volume = 0.0;
//			}
	    }; 
		
	});	
</script>
<script>
/*
	window.setInterval(function(){
		$.get("/twitter/search_tag",
			function(){
				$.get("/snaps/get_new",
					function(){
						
					});
		});
	}, 30000)
*/
</script>

<h1>Snaps#view</h1>
<p>Find me in app/views/snaps/view.html.erb</p>

<% if @access_token %>
	<p>Access Token: <%= @access_token.inspect %></p>
<% end %>

<div class="slideshow">
	<% if not @snaps.empty? %>
		<% @snaps.each do |s| %>
			<% if s.media_type == "image" %>
				<img src=<%= s.media_url %> width="400" />
			<% elsif s.media_type == "video" %>
				<video class="video" width="400" height="400" autoplay="true" loop="true">
				    <source id=<%= s.media_id %> src=<%= s.media_url %> type="video/mp4">
				    Your browser does not support the video tag or the file format of this video.
				</video>
			<% elsif s.media_type == "tweet" %>
				<div><p><%= s.caption %></p></div>
			<% end %>
		<% end %>
	<% end %>
	<img src="http://malsup.github.com/images/beach1.jpg" width="400" />
	<img src="http://malsup.github.com/images/beach2.jpg" width="400" />
</div>

<div class="slideshow-toAdd" style="display: block;">
	
</div>


<br />

<% if @subscriptions %>
	<p>Subscriptions: <%= @subscriptions.inspect %></p>
<% end %>

<!-- <%= link_to "Subscribe to #testphotographytag2014", controller: "instagram", action: "subscribe" %> -->

<!-- <%#= link_to "Make a Tweet!", controller: "twitter", action: "search_tag" %> -->
