<script type="text/javascript">
	$(document).ready(function() {
	    $('.slideshow').cycle({
			fx: 'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
			timeout:  1000, 
	        before:   onBefore, 
	        autostop: 1,
	        end:      function() {  
		        location.reload();  
		    }
	    }); 
	 
	    function onBefore(curr, next, opts) { 
	        // make sure we don't call addSlide before it is defined 
	        if (!opts.addSlide) 
	            return; 
	            
            var videos = document.getElementsByClassName('video');
			for (var i=0; i < videos.length; i++) {
				videos[i].volume = 0.0;
			}
	        
	        var elementsToAdd = $('.toAdd');
	        $(".slideshow-toAdd").empty();
	        for (var i = 0; i < elementsToAdd.length; i++) {
	        	elementsToAdd.removeClass('toAdd');
	        	elementsToAdd.addClass('added');
	        	var element = document.getHTML(elementsToAdd[i], true);
	        	opts.addSlide(element);
	        }
	    }; 
	    
	    /*function onAfter(curr, next, opts, fwd) {
		  // on the first pass, removeSlide is undefined (plugin hasn't yet created the fn yet) 
		  if (!opts.removeSlide) {return;}
		  
		  // Remove the first slide
		  opts.removeSlide();
		}*/
	    
	    document.getHTML= function(who, deep){
		    if(!who || !who.tagName) return '';
		    var txt, ax, el= document.createElement("div");
		    el.appendChild(who.cloneNode(false));
		    txt= el.innerHTML;
		    if(deep){
		        ax= txt.indexOf('>')+1;
		        txt= txt.substring(0, ax)+who.innerHTML+ txt.substring(ax);
		    }
		    el= null;
		    return txt;
		}
		
	});	
</script>
<script>
	window.setInterval(function(){
		$.get("/twitter/search_tag",
			function(){
				$.get("/snaps/get_new",
					function(){
						
					});
		});
	}, 10000)
</script>

<div class="container">
	<table class="main-table" cellspacing="0" style="background-color: #000; border-radius: 5px;">
		<tr style="width:100%; min-width: 1000px;">
			<td class="first-column" style="width: 600px; vertical-align: top;" rowspan="2">
				<div class="slideshow">
					<% if not @snaps.empty? %>
						<% @snaps.each do |s| %>
							<% if s.media_type.include? "image" %>
								<div class="toAdd" style="width: 100%; height: 100%;" >
									<div class='wrapper'>  
										<div style="margin: 15px; height: 570px; width: 570px; background-color: black;">
											<div style="z-index: 999; position: absolute; width: 570px; background-color: transparent;">
												<% if s.media_type.include? "instagram" %>
													<%= image_tag 'instagram-5.png', :style=> "height: 60px; background-color: transparent; float: right; padding: 10px;" %>
												<% elsif s.media_type.include? "tweet" %>
													<%= image_tag 'twitter-5.png', :style=> "height: 60px; background-color: transparent; float: right; padding: 10px;" %>
												<% end %>
											</div>
											<img src=<%= s.media_url %> style="max-width: 570px; max-height: 570px; position: absolute; margin: auto; top: 0; left: 0; bottom: 0; right: 0;" />
											<div class='description' style="margin: 15px; width: 570px; border-radius: 0;">
												<div class="description_content">  
												    <p class="customfont caption" style="margin-bottom: 0px;"><strong>@<%= s.media_author %></strong></p>
													<p class="caption" style="font-family: Helvetica; font-weight: 200; line-height: 1.5; margin-top: 5px;"><%= s.caption %></p>
												</div>  
											</div>
										</div>
									</div>
								</div>
							<% elsif s.media_type == "video" %>
								<div class="toAdd" style="width: 100%; height: 100%;" >
									<div class='wrapper'>
										<div style="margin: 15px; height: 570px; width: 570px; background-color: black;">
											<div style="z-index: 999; position: absolute; width: 570px; background-color: transparent;">
												<%= image_tag 'instagram-5.png', :style=> "height: 60px; background-color: transparent; float: right; padding: 10px;" %>
											</div>
											<video class="video" autoplay="true" loop="true" style="max-width: 570px; max-height: 570px; position: absolute; margin: auto; top: 0; left: 0; bottom: 0; right: 0;">
											    <source id=<%= s.media_id %> src=<%= s.media_url %> type="video/mp4">
											    Your browser does not support the video tag or the file format of this video.
											</video>
											<div class='description' style="margin: 15px; width: 570px; border-radius: 0;">
												<div class="description_content">  
												    <p class="customfont caption" style="margin-bottom: 0px;"><strong>@<%= s.media_author %></strong></p>
													<p class="caption" style="font-family: Helvetica; font-weight: 200; line-height: 1.5; margin-top: 5px;"><%= s.caption %></p>
												</div>  
											</div>
										</div>
									</div>
								</div>
							<% elsif s.media_type == "tweet" %>
								<div class="toAdd" style="width: 100%; height: 100%;" >
									<div class='wrapper'>
										<div style="margin: 15px; height: 570px; width: 570px; background-color: whitesmoke;">
											<div style="z-index: 999; position: absolute; width: 570px; background-color: transparent;">
												<%= image_tag 'twitter-5.png', :style=> "height: 60px; background-color: transparent; float: right; padding: 10px;" %>
											</div>
											<div style="padding: 15px; background-color: whitesmoke;">
												<p class="customfont" style="font-size: 38px; margin-bottom: 0px;">@<%= s.media_author %></p>
												<p style="font-family: Helvetica; font-size: 26px; font-weight: 200; line-height: 1.5; margin-top: 10px;"><%= s.caption %></p>
											</div>
										</div>
									</div>
								</div>
							<% end %>
						<% end %>
					<% end %>
				</div>
			</td>
			<td style="width: 350px; height: 110px; z-index: 999;">
				<div class="icons" style="padding: 10px 20px; float: right; height: 40px;">
					<%= image_tag 'Instagram-icon.png', :style=> "width: 40px;" %>
					<%= image_tag 'Twitter-icon.png', :style=> "width: 40px;" %>
				</div>
				<div style="margin: 0px 15px 15px 0; padding: 0px; background-color: black; color: black; height: 70px; text-align: center;">
					<%= image_tag 'ameen2014_no4.png', :style=> "height: 70px; padding: 0px;" %>
				</div>
			</td>
		</tr>
		<tr>
			<td style="margin-top: 15px; width: 350px; height: 450px; vertical-align: top; padding: 10px; padding-top: 30px;">
				<div class="instructions" style="font-family: Garamond; margin: 15px 15px 15px 0; padding: 10px; background-color: black; color: whitesmoke; border-radius: 3px; font-size: 19px;">
					<p>What good is it if it's not on social media?</p> 
					<ol>
						<li>Take a picture or video</li>
						<li>Tag it with #Ameen2014</li>
						<li>Watch it appear live on the slideshow!</li>
					</ol>
				</div>
				<div class="mentions-container">
					<div class="mentions" style="margin: 0px; padding: 25px; background-color: black; color: black; text-align: center;">
						<%= image_tag 'mentions_no4.png', :style=> "width: 170px;" %>
						<p class="customfont-2" style="color:white; font-size: 72px; font-weight:200; margin: 0 !important;"><%= @snaps.count %></p>
					</div>
				</div>
			</td>
		</tr>
		
	</table>
</div>

<div class="slideshow-toAdd" style="display: none;">
	
</div>
